@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        /* Adicione as variáveis do shadcn / tema escuro aqui depois, caso configure a UI via CLI */
    }

    body {
        @apply bg-[#080808] text-white antialiased;
    }
}

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 20px);
}

.pt-safe {
    padding-top: env(safe-area-inset-top, 20px);
}